<div class="flex h-full w-full flex-col items-center justify-center">
  <div class="flex h-full w-full flex-col items-center justify-center">
    <p class="text-xl">
      Username: <span class="font-bold">{{ username }}</span>
    </p>

    <p class="text-xl">
      Name: <span class="font-bold">{{ name }}</span>
    </p>

    <p class="text-xl">
      Email: <span class="font-bold">{{ email }}</span>
    </p>

    <a routerLink="/tasks" class="mt-2 text-lg text-blue-500"
      >Ir a listas de tareas</a
    >
  </div>
</div>
